*{
	margin: 0;
	padding: 0;
	text-decoration-line: none;
	list-style: none;
	box-sizing: border-box;
}
nav{
	background-color: black;
	height: 80px;
	width: 100%;
}
.logoo {
    color: white;
    
    font-size: 55px;
  
}
@media(max-width:768px){
    .logoo {
        color: white;
        font-size: 30px;
    } 
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li .active{
	padding: 7px 13px ;
	border-radius: 3px;
	color: white;
	font-size: 17px;
	text-transform: uppercase;
}
.active:hover{
	background: black;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
    display: none;
}
#check{
   display: none;
}
@media(max-width:952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	
}
@media(max-width:768px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
        transition:all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 20px;
	}
	nav ul li .active{
		font-size: 20px;

	}
	.active:hover,.active{
		background: none;
		color:#0082e6;
	}
	#check:checked ~ ul{
		left: 0;
	}
}
.footerr {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    height: 40px;
}
.copy {
    color: #0ff;
    margin-top: 20px;
}
.center{
	
	display: grid;
	justify-content: center;
	text-align: center;
	margin-top: 42px;
}
.center h1{
	word-spacing: 22px;
}
.btn {
    background-color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: black;
    display: inline-block;
    border-radius: 3px;
}

.btn:hover {
    background-color: #0ff;
    color: #000000;
}
.table{
    
    margin-top: -22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-2 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 22px;
}
.table-1{
    background-color: #000000;
    width: 350px;
    padding:10px 0px 10px 40px;
    border-radius: 7px;
}
.productsWrapper{
	
    margin: 0;
    font-family: cursive;
    padding: 0px 20px 0px 20px;
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.sh-co{

    width: 230px;
    color: white;
    margin-left: 127px;
    font-size: 22px;
    font-weight: 91;
}
.hor{
    border: 2px solid white;
    text-align: center;
    width: 20%;
    margin-left: 127px;
    
}
@media(max-width:768px){
       .productsWrapper{
		grid-template-columns: repeat(2,1fr);
	   }
       .sh-co{
        font-size: 15px;
       }
       .table{
        margin-top: 15px;
       }
}
.card{
    font-family: cursive;
    text-align: center;
    border-radius: 10px;  
    padding: 20px;
}

.write{
    font-weight: 400px;
    font-size: 15px;
}
.click{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}
img{
    height: 80px;
    width: 100px;
}
.cartcard img{
     padding-left: 20px;
     
}
.cartcard button{
    float: right;
    margin-top: -30px;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}
.cartcard{
    border: 2px solid black;
    padding: 10px;
    
}