.box{
 width: 290px;
 height: 200px;
 border: 2px solid black;
 margin: 50px;
 margin-left: 55px;
 padding: 20px;
 background-color: aquamarine;
}
label{
    font-size: 19px;
    font-weight: 777;
}
.box input{
    width: 200px;
    height: 22px;
}
.btnnnnn{
    width: 150px;
    border-radius: 5px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
 
}
.btn:hover{
    background-color: black;
    color: aliceblue;
}
.table{
    width: 550px;
    text-align: center;
    border: 2px solid black;
    background-color:black;
    color: aliceblue;
    margin-left: 10px;
}
th{
    border: 1px solid black;
}
.btnn{
    border-radius: 5px;
    font-weight: 777;
    border: 2px solid white;
    outline: 1px solid black;
    cursor: pointer;
    padding: 5px 10px;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}
.btnnn{
    border-radius: 5px;
    font-weight: 777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
    margin-left: 432px;
    margin-bottom: -22px;
}
