* {
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: #000000;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.hr h1 {
    text-decoration-line: none;
    color: aqua;
    font-family: serif;
    text-decoration-line: none;
}

.hr:hover {
    color: rgb(226, 239, 239);
    text-decoration-line: none;
}

.hr {
    text-decoration-line: none;
}

.footerr {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    padding-top: 0px;
    height: 40px;
}

.copy {
    color: #0ff;
    margin-top: 20px;
}

.p {
    margin-top: 42px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li .active {
    padding: 7px 13px;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration-line: none;
}

a:hover {
    background: black;
    transition: .5s;
}

.s {
    position: absolute;
    display: flex;
}

.s img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 130px;
    margin-top: -43px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.btn {
    background-color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: black;
    display: inline-block;
    border-radius: 3px;
}

.btn:hover {
    background-color: #0ff;
    color: #000000;
}

h1 {
    font-size: 50px;
    color: white;
    font-family: serif;
}

.center {
    display: grid;
    justify-content: center;
    margin-left: -13px;
    margin-top: 53px;
}

#check {
    display: none;
}

.item img {
    width: 280px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}

.items {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.item img:hover {
    transform: scale(1.04);
}

.item h4 {
    padding: 5px;
    text-align: center;
}

.item button {
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}

.item button :hover {
    transform: scale(1.04);
}

@media (max-width:1000px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }

    .item h4 {
        padding-right: 175px;
    }

    .item button {
        padding: 5px 30px;
        border: none;
        outline: none;
        background-color: green;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        font-size: 22px;
        display: block;
        margin-left: 110px;
        transition: 0.2s all;
    }
}

.b {
    color: #0ff;
    font-family: serif;
}

@media(max-width:952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li .active {
        font-size: 16px;
        color: white;
        text-decoration-line: none;
    }
}

@media(max-width:858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }

    nav ul li a {
        font-size: 20px;
    }

    h2 {
        margin-top: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

.s {
    position: absolute;
    display: flex;
    margin-top: 40px;
    margin-left: 160px;
}

.s img {
    width: 30px;
    height: 30px;
    margin-left: 140px;
    border-radius: 50%;
}

.btn {
    background-color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid black;
    color: black;
    display: inline-block;
    border-radius: 3px;
}

.btn:hover {
    background-color: white;
}

.c {
    color: black;
    text-decoration-line: none;
}

.table {
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px 0px 0px 100px;
    width: 400px;
    height: 370px;
    background-color: black;
}

.boxxx {
    padding-left: 42px;
}

@media (max-width:768px) {

    .table {
        border-radius: 5px;
        border: 2px solid black;
        margin: 10px 0px 0px 100px;
        width: 400px;
        height: 370px;
        background-color: black;
    }

    .s img {
        width: 30px;
        height: 30px;
        margin-left: 44px;
        border-radius: 50%;
    }

    .s {
        position: absolute;
        display: flex;
        margin-top: 40px;
        margin-left: 140px;
    }
}
.quantaty{
    float: right;
    margin-top: -41px;
}
.quantatyy{
    width: 55px;
}